<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <center><img class="center" src="/static/institute.jpg" alt="world data science image" height="200"></center>
    <h1 class="jumbotron text-center">Welcome! Meet Bela the Financial Chatbot</h1>
    <h6><center> Created by:</center></h6>
    <h5><center>Anade Davis &#8226;  Hafizah Ab Rahim &#8226; Ragavendhra Ramanan &#8226; Krishna Kankipati &#8226; Racques Mcgill &#8226; Mukovhe Lugisani &#8226; Ivy Hsu</center></h5> <br>

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div id="chatbox" class="border border-white">
                <p class="botText"><span>Hello. I will answer your questions about Technical Analysis and Financial Data Science. Input a financial related word and I will help you! If you want to exit, type 'Bye'.</span></p>
            </div>
            <div id="userInput" >
                <input id="textInput"  type="text" name="msg" placeholder="Type your Financial Term here" size="82">
                <input id="buttonInput"  type="submit" value="Send">
            </div>
        </div>
    </div>
<script>
  

 function getResponse() {
        let userText = $("#textInput").val();
       
      $.ajax({
                       type:"post",
                       url:'/predict',
                       data:{name: userText},
                       dataType: "json",
                       success: function(jd) {
                              console.log(jd)
                               let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        var botHtml = '<p class="botText"><span>' + jd+ '</span></p>';
        $("#chatbox").append(botHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                              
                              }
                              });
}

    $("#textInput").keypress(function(e) {
    //if enter key is pressed
        if(e.which == 13) {
            getResponse();
        }
    });
    $("#buttonInput").click(function() {
        getResponse();
    });



    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
