<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <center><img src="/static/institute.jpg" alt="world data science image" class="responsive" height="200"></center>
    <h1 class="jumbotron text-center">Welcome! Meet Bela the Financial Chatbot</h1>
   
    <h6><center> Created by:</center></h6>
    <h5><center>Anade Davis &#8226;  Hafizah Ab Rahim &#8226; Ragavendhra Ramanan &#8226; Krishna Kankipati &#8226; Racques Mcgill &#8226; Mukovhe Lugisani &#8226; Ivy Hsu</center></h5> <br>

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div id="chatbox" class="border border-white">
                <p class="botText"><span>Hello. I will answer your questions about Technical Analysis and Financial Data Science. Input a financial related word and I will help you! If you want to exit, type 'Bye'.</span></p>
            </div>
            <div id="userInput" >
                <input id="textInput"  type="text" name="msg" placeholder="Type your Financial Term here" size="82">
                <input id="buttonInput"  type="submit" value="Send">
            </div>
            <br><br>
            <center><h5>FINANCIAL TERMS</h5></center>
          <div class="row">
                <div class="column" style="background-color:#ffffff;" >
                    
                    <p6>Advanced Fixed Income Trading</p6><br>
                    <p6>Adverse Development Cover (ADC)</p6><br>
                    <p6>Alternative Investment</p6><br>
                    <p6>American Depository Receipt (ADR)</p6><br>
                    <p6>Arbitrage Pricing Theory</p6><br>
                    <p6>Auction Rate Security (ARS)</p6><br>
                    <p6>ARCH</p6><br>
                    <p6>B Shares</p6><br>
                    <p6>Basel III</p6><br>
                    <p6>Basket Option</p6><br>
                    <p6>Beta Score</p6><br>
                    <p6>Bill Miller</p6><br>
                    <p6>Binomial Model for Asset Prices</p6><br>
                    <p6>Binomial Option Pricing Model</p6><br>
                    <p6>Black-Litterman Model</p6><br>
                    <p6>Black-Scholes Model</p6><br>
                    <p6>Block Trade</p6><br>
                    <p6>Bob Rodriguez</p6><br>
                    <p6>Bollinger Bands</p6><br>
                    <p6>Bollinger Bands Bandwidth</p6><br>
                    <p6>Bond Rating</p6><br>
                    <p6>Bull Call Spread</p6><br>
                    <p6>Buy sell</p6><br>
                    <p6>Buy Sell Put Option</p6><br>
                    <p6>Calibration</p6><br>
                    <p6>Call Options</p6><br>
                    <p6>Call Warrant</p6><br>
                    <p6>Callable Bond</p6><br>
                    <p6>Capital Asset Pricing Model</p6><br>
                    <p6>Capital Market Line (CML)</p6><br>
                    <p6>Capitalization-Weighted Index</p6><br>
                    <p6>CFRA</p6><br>
                    <p6>Collateral</p6><br>
                    <p6>Collateralized Loan Obligation</p6><br>
                    <p6>Commodity</p6><br>
                    <p6>Complex Variable Function</p6><br>
                    <p6>Computational Finance</p6><br>
                    <p6>Consumer Price Index (CPI)</p6><br>
                    <p6>Convertible Bonds</p6><br>
                    <p6>Copula-Based Factor Model</p6><br>
                    <p6>Core Satellite Model</p6><br>
                    <p6>Covered Call Option Strategy</p6><br>
                    <p6>Credit</p6><br>
                    <p6>Credit Default Swap (CDS)</p6><br>
                    <p6>Current Price</p6><br>
                    <p6>Debt to Capital Ratio</p6><br>
                    <p6>Declining Balance</p6><br>
                    <p6>Defensive Stock</p6><br>
                    <p6>Deferred Income Tax</p6><br>
                    <p6>Deferred Tax Item</p6><br>
                    <p6>Depreciation</p6><br>
                    <p6>Derivative Contracts</p6><br>
                    <p6>Derivatives</p6><br>
                    <p6>Derivatives Market</p6><br>
                    <p6>Differential Equation</p6><br>
                    <p6>Directional movement indicator DMI</p6><br>
                    <p6>Dividend 12 month Totals</p6><br>
                    <p6>Dividend Capture Strategies</p6><br>
                    <p6>Dividend Frequency</p6><br>
                    <p6>Dividend Yield</p6><br>
                    <p6>Dollar Cost Averaging</p6><br>
                    <p6>Duration</p6><br>
                    <p6>Early Exercise</p6><br>
                    <p6>Earning Surprise</p6><br>
                    <p6>Earnings Announcement</p6><br>
                    <p6>Earnings per growth (EPS)</p6><br>
                    <p6>Econometric Model</p6><br>
                    <p6>Ed Thorp</p6><br>
                    <p6>Emerging Market Funds</p6><br>
                    <p6>Emerging Market Stocks</p6><br>
                    <p6>Empirical Stylized Facts</p6><br>
                    <p6>Equity Kicker</p6><br>
                    <p6>Equity Pull Option</p6><br>
                    <p6>Ex Dividend Dates</p6><br>
                    <p6>Exchange</p6><br>
                    <p6>Exchange Traded Funds (ETF)</p6><br>
                    <p6>Exotic Options</p6><br>
                    <p6>Federal Funds Rate</p6><br>
                    <p6>Federal Interest Rate</p6><br>
                    <p6>Financial Arbitrage</p6><br>
                    <p6>Financial Engineering</p6><br>
                    <p6>FINRA</p6><br>
                    <p6>Financial Quota Share</p6><br>
                    
                    
                </div>
                <div class="column" style="background-color:#ffffff;">
                  
                    <p6>Financial Statistics</p6><br>
                    <p6>Financial Structuring</p6><br>
                    <p6>Finite Difference Method</p6><br>
                    <p6>First Call Consensus</p6><br>
                    <p6>Fixed Income Investment</p6><br>
                    <p6>Fixed Income Products</p6><br>
                    <p6>Fokker-Planck Equation</p6><br>
                    <p6>Ford Motor Company (FORD)</p6><br>
                    <p6>Foreign Exchange Contract</p6><br>
                    <p6>Fourier Transforms</p6><br>
                    <p6>Franklin Templeton</p6><br>
                    <p6>Futures</p6><br>
                    <p6>Gap Up Gap Down</p6><br>
                    <p6>GARCH</p6><br>
                    <p6>George Michaelis</p6><br>
                    <p6>Girsanov’s Theorem</p6><br>
                    <p6>Globex Trading System</p6><br>
                    <p6>Governance</p6><br>
                    <p6>Greeks</p6><br>
                    <p6>Grey Market Bonds</p6><br>
                    <p6>Gross Profit Margin</p6><br>
                    <p6>Hazard Rate</p6><br>
                    <p6>Hedge Fund</p6><br>
                    <p6>Hedging</p6><br>
                    <p6>Hierarchical Risk Parity</p6><br>
                    <p6>High Frequency Data</p6><br>
                    <p6>High Frequency Trading</p6><br>
                    <p6>High Yield Bond</p6><br>
                    <p6>HJM Model</p6><br>
                    <p6>Implementation of Copula Models</p6><br>
                    <p6>Index</p6><br>
                    <p6>Institutional Holdings</p6><br>
                    <p6>Interest Coverage</p6><br>
                    <p6>Ito’s Lemma Quantitative Finance</p6><br>
                    <p6>Jean Marie Eveillard</p6><br>
                    <p6>Jump Diffusion</p6><br>
                    <p6>Kolmogorov Equation</p6><br>
                    <p6>Langevin Equation</p6><br>
                    <p6>Last in First out</p6><br>
                    <p6>Leverage Finance</p6><br>
                    <p6>Leveraged Buyout (LBO)</p6><br>
                    <p6>Libor Market Model</p6><br>
                    <p6>Linear Algebra</p6><br>
                    <p6>Liquidity Asset Liability Management (ALM)</p6><br>
                    <p6>Long Position</p6><br>
                    <p6>Long Straddle</p6><br>
                    <p6>Loss Lortfolio Transfer (LPT)</p6><br>
                    <p6>Loss Reserve</p6><br>
                    <p6>Low Frequency Trading</p6><br>
                    <p6>Low Latency</p6><br>
                    <p6>MACD Histogram</p6><br>
                    <p6>MAR Ratio</p6><br>
                    <p6>Margin</p6><br>
                    <p6>Margin Call</p6><br>
                    <p6>Mark to Market</p6><br>
                    <p6>Market Capitalization</p6><br>
                    <p6>Market Edge</p6><br>
                    <p6>Martingales Theory for Pricing</p6><br>
                    <p6>Marty Whitman</p6><br>
                    <p6>Modern Portfolio Theory</p6><br>
                    <p6>Momentum Cross</p6><br>
                    <p6>Money Flow Index (MFI)</p6><br>
                    <p6>Monte Carlo Simulation</p6><br>
                    <p6>Moody's corporations</p6><br>
                    <p6>Mortgage Bond</p6><br>
                    <p6>Moving Average Crossover</p6><br>
                    <p6>Municipal Bond Insurance</p6><br>
                    <p6>Mutual Fund</p6><br>
                    <p6>NAFTA</p6><br>
                    <p6>Naked Put Option</p6><br>
                    <p6>NASDAQ</p6><br>
                    <p6>Net Asset Value</p6><br>
                    <p6>Net Profit Margin</p6><br>
                    <p6>Net Unrealized Appreciation (NUA)</p6><br>
                    <p6>New 52-Week High Low</p6><br>
                    <p6>Non-Probability Volatility Model</p6><br>
                    <p6>On Balance Volume</p6><br>
                    <p6>Operating Profit Margin</p6><br>
                    <p6>Opportunity Cost</p6><br>
                    <p6>Par Value</p6><br>
                    <p6>Parabolic SAR</p6><br>
                    <p6>Partial Differential Equations</p6><br>
                    <p6>Payment In Kind</p6><br>
                    
                </div>
                <div class="column" style="background-color:#ffffff;">
                    
                    <p6>PetroChina</p6><br>
                    <p6>Portfolio Management</p6><br>
                    <p6>Portfolio Optimization Model</p6><br>
                    <p6>Portfolio Optimization Model</p6><br>
                    <p6>POSCO</p6><br>
                    <p6>Price Change</p6><br>
                    <p6>Price to Book Ratio</p6><br>
                    <p6>Price to Cashflow Ratio</p6><br>
                    <p6>Price to Earnings Growth (PEG)</p6><br>
                    <p6>Price to Earnings Ratio</p6><br>
                    <p6>Price to sales Ratio</p6><br>
                    <p6>Probabilistic Method Interest Rates</p6><br>
                    <p6>Profit Margin</p6><br>
                    <p6>Put Warrant</p6><br>
                    <p6>Quantitative Risk and Return</p6><br>
                    <p6>Quick Ratio</p6><br>
                    <p6>Random Behavior of Asset</p6><br>
                    <p6>Rate Of Change (ROC)</p6><br>
                    <p6>Ray Dalio</p6><br>
                    <p6>Recent Rating Changes</p6><br>
                    <p6>Redeemable Shares</p6><br>
                    <p6>Reduced Form Credit Model</p6><br>
                    <p6>Reduced Form Model</p6><br>
                    <p6>REIT</p6><br>
                    <p6>Relative strength index (RSI)</p6><br>
                    <p6>Research Team Company Reports</p6><br>
                    <p6>Return on Equity</p6><br>
                    <p6>Revenue Growth Loss Rate</p6><br>
                    <p6>Revenue Per Employee</p6><br>
                    <p6>Risk Adjusted Asset</p6><br>
                    <p6>Risk Management</p6><br>
                    <p6>Risk Management Metrics</p6><br>
                    <p6>Risk of Default</p6><br>
                    <p6>SEC from ADV</p6><br>
                    <p6>Sector Industry Sub-Industry</p6><br>
                    <p6>Series 6</p6><br>
                    <p6>Series 63</p6><br>
                    <p6>Series 65</p6><br>
                    <p6>Series 7</p6><br>
                    <p6>Sharpe Ratio</p6><br>
                    <p6>Short Position</p6><br>
                    <p6>SIE Exam</p6><br>
                    <p6>Social Investment (SRI)</p6><br>
                    <p6>Socially Responsible Investing (SRI)</p6><br>
                    <p6>Sortino Ratio</p6><br>
                    <p6>Standard and Poor 500 S&P</p6><br>
                    <p6>Stochastic Alpha Beta Rho (SABR)</p6><br>
                    <p6>Stochastic Calculus</p6><br>
                    <p6>Stochastic Crossover</p6><br>
                    <p6>Stochastic Differential Equation</p6><br>
                    <p6>Stochastic Interest Rate Models</p6><br>
                    <p6>Stochastic Volatility</p6><br>
                    <p6>Stock Buyback</p6><br>
                    <p6>Street Ratings</p6><br>
                    <p6>Structural Models Credit Risk</p6><br>
                    <p6>Tactical Asset Alocation Models TAA</p6><br>
                    <p6>Tax Preferred Dividends</p6><br>
                    <p6>Taylor Series</p6><br>
                    <p6>Tesco</p6><br>
                    <p6>Today Volume Average Volume</p6><br>
                    <p6>Trade Deficit</p6><br>
                    <p6>Trade on a Margin</p6><br>
                    <p6>Trade Policy</p6><br>
                    <p6>Trading and Pricing Derivatives</p6><br>
                    <p6>Treasury Bills</p6><br>
                    <p6>Treasury Bonds</p6><br>
                    <p6>Treasury Inflation Protected Bonds TIPS</p6><br>
                    <p6>Treynor Ratio</p6><br>
                    <p6>Ultra High Frequency Trading</p6><br>
                    <p6>Unit Trust Investment</p6><br>
                    <p6>Unrealized Gains</p6><br>
                    <p6>Value at Risk (VAR)</p6><br>
                    <p6>Variable Annuity</p6><br>
                    <p6>Volatility Arbitrage Strategies</p6><br>
                    <p6>Volatility Modeling </p6><br>
                    <p6>Volume Range</p6><br>
                    <p6>Warrant</p6><br>
                    <p6>Win Rate</p6><br>
                    <p6>World Trade Organization (WTO)</p6><br>
                    <p6>X-Valuation Adjustment (XVA)</p6><br>
                    <p6>Zero Coupon Bond</p6><br>
                   
                </div>
            </div>
  
        </div>
    </div>
<script>
  

 function getResponse() {
        let userText = $("#textInput").val();
       
      $.ajax({
                       type:"post",
                       url:'/predict',
                       data:{name: userText},
                       dataType: "json",
                       success: function(jd) {
                              console.log(jd)
                               let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        var botHtml = '<p class="botText"><span>' + jd+ '</span></p>';
        $("#chatbox").append(botHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                              
                              }
                              });
}

    $("#textInput").keypress(function(e) {
    //if enter key is pressed
        if(e.which == 13) {
            getResponse();
        }
    });
    $("#buttonInput").click(function() {
        getResponse();
    });



    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
